.profile-main {
  height: 100%;
  width: 100%;
  background-color: #ffffff !important;
  border-radius: 35px;
}
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.profile-info {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}

.rounded-img-section {
  width: 100%;
  height: 80px;
}

.profil-rounded-img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  object-fit: cover;

  position: relative;
  bottom: 100px;
  border: solid 4px white;
}
.small-img-personal-info {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.p-personal-info {
  width: 7rem !important;
  margin-right: 2px;

  /* margin-right: 10px; */
}

.first-button {
  color: white;
  background: #0a66c2;
  border: none;
  height: 2rem;
  width: 5rem;
  margin-right: 10px;
  text-align: center;
  border-radius: 100px;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.first-button:hover {
  opacity: 1;
}
.secondary-button,
.third-button {
  background-color: white;
  color: #818181;
  border: solid 1px;
  border-radius: 100px;
  height: 2rem;
  width: 7rem;
  margin-right: 10px;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.secondary-button:hover,
.third-button:hover {
  background-color: #818181;
  color: white;
  border: solid 2px #818181;
  border-radius: 150px;
}
.third-button {
  width: 4rem;

  font-size: 16px !important;
  font-weight: 600 !important;
}

.personal-info-text {
  font-size: 14px;
  line-height: 18px;
}

.personal-text-color {
  color: #0a66c2;
}
