#activity-div {
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
}

#activity-div .activity-title h4 {
  font-size: 20px;
  font-weight: 400;
}

#activity-div .followers {
  color: #4986ce;
  font-weight: 600;
}

#activity-div .start-post {
  border-radius: 2px;
  cursor: pointer;
}

#activity-div .start-post:hover {
  background-color: #ebebeb;
}

#activity-div .see-all-activity {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#activity-div .see-all-activity:hover {
  background-color: #ebebeb;
}
