#linked-in-navbar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

#linked-in-navbar > div > div > div.col-4 > nav {
  display: inline-block;
}

.ABC {
  display: flex;
  align-items: baseline;
  padding-right: 3px;
  margin-top: 5px;
}

#linked-in-navbar > div > div > div.ABC.col-4 > nav {
  padding: 0px;
}
/* Home, my network ext */
div.col-1 {
  font-size: 13px;
  color: rgb(122, 119, 119);
}
/*icons in navBar*/
.NavIco.row {
  font-size: 24px;
  color: rgb(112, 112, 112);
  justify-content: center;
}
#NavIco {
  font-size: 17px;
  color: rgb(112, 112, 112);
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 8px;

  border-right: none;
  background-color: rgb(232, 245, 253);
}
.navn.row {
  justify-content: center;
}

.navn.row:hover {
  justify-content: center;
  border-bottom: solid black 2px;
}

a.nav-link {
  padding: 0%;
  color: rgb(112, 112, 112);
}

a.nav-link:hover {
  padding: 0%;
  color: rgb(12, 12, 12);
}

#navnMe {
  padding-left: 28px;
}

#searchBAR {
  border: none;
  background-color: rgb(232, 245, 253);
  border-radius: 5px;
}

#minion {
  height: 30px;
}

#meForm {
  width: 300px;
  color: rgb(104, 104, 103);
  font-size: 14px;
  margin-bottom: 10px;
}
#dropMe {
  font-size: 14px;
  padding: 3px;
  color: rgb(131, 127, 127);
  padding-left: 25px;
}
#viewProf {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  width: 100%;
  display: flex;
  padding: 2px;
  border-radius: 15px;
  justify-content: center;
}
#logoFooter {
  width: 96px;
  height: 61px;
}

#FOOOOOOOOOTer {
  font-size: 13px;
  color: rgb(143, 141, 141);
  padding-top: 3px;
  line-height: 28px;
  font-weight: 500;
}

#language-button {
  width: 300px;

  background-color: rgb(255, 254, 254);
  color: rgb(121, 122, 122);
  font-size: 13px;
  font-weight: 600;
}
#corp {
  font-weight: lighter;
  padding-top: 25px;
}

#FOOOOOOOOOTer > div:nth-child(4) > div:nth-child(4) > a > svg {
  font-size: 22px;
  margin-right: 5px;
}
#FOOOOOOOOOTer > div:nth-child(2) > div:nth-child(4) > a > svg {
  font-size: 22px;
  margin-right: 5px;
}
#manage {
  color: rgb(170, 106, 197);
  font-size: 14px;
}
