.profile-main {
  /* height: 100%; */
  /* width: 100%; */
  background-color: #ffffff !important;
  border-radius: 20px;
}
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.profile-info {
  /* background-color: #ffffff; */
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}

.rounded-img-section {
  width: 100%;
  height: 80px;
}

.profil-rounded-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  bottom: 100px;
  border: solid 4px white;
}

.profile-pencil:hover {
  background-color: #ebebeb;
}
.small-img-personal-info {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.p-personal-info {
  width: 7rem;
  margin-right: 8rem;
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.personal-text-color {
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
  color: #0a66c2;
}
.first-button {
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  background: #0a66c2;
  border: none;
  height: 2rem;
  width: 6rem;
  margin-right: 10px;
  text-align: center;
  border-radius: 100px;
}

.first-button:hover {
  background-color: rgba(5, 62, 119, 0.9);

  /* background-color: rgb(1, 102, 194); */
  /* background-color: red; */
}
.secondary-button,
.third-button {
  background-color: white;
  color: #818181;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border: solid 1px;
  border-radius: 100px;
  height: 2rem;
  width: 7rem;
  margin-right: 10px;
}
.secondary-button:hover,
.third-button:hover {
  background-color: rgba(112, 107, 107, 0.3);
  border: solid 2px #818181;
}
.third-button {
  width: 4rem;
}
