#profile-home-div {
  border-radius: 10px;
  font-size: 12px;
  background-color: white;
}

#profile-home-div .profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid white;
  top: 30%;
  left: 30%;
}

#profile-home-div .name-title h6 {
  font-size: 16px;
  font-weight: 600;
}

#profile-home-div .views div {
  font-weight: 600;
  cursor: pointer;
}

#profile-home-div .views div .quantity {
  color: #0a66c2;
}

#profile-home-div .views div:hover {
  background-color: #ebebeb;
}

#profile-home-div .premium {
  cursor: pointer;
}

#profile-home-div .premium:hover {
  background-color: #ebebeb;
}

#profile-home-div .premium .icon {
  font-size: 18px;
  color: #e7a33e;
}

#profile-home-div .my-items {
  cursor: pointer;
}

#profile-home-div .my-items:hover {
  background-color: #ebebeb;
}

#profile-home-div .my-items .icon {
  font-size: 18px;
}
